@media (max-width: 1289px) {
  .header-left .header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .header-center {
    display: none;
  }

  .header-right {
    display: none;
  }

  .top-wrapper {
    display: block;
    height: 100%;
  }

  .top-wrapper .container {
    display: block;
  }

  .top-wrapper .container .top-wrapper-left {
    text-align: center;
    padding-left: 100px;
  }

  .top-wrapper .container .top-wrapper-right
  .mail-form-container {
    text-align: center;
  }

  .top-wrapper .container .top-wrapper-right
  .password-form-container {
    text-align: center;
  }

}