@media (max-width: 1289px) {
  .header-left .header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .header-center {
    display: none;
  }

  .header-right {
    display: none;
  }

  .top-wrapper {
    display: block;
    height: 100%;
  }

  .top-wrapper .container {
    display: block;
    padding:0 10px 20px 10px;
  }

  .top-wrapper-left {
    margin-top: 0;
  }

  .top-wrapper .container .top-wrapper-left span {
    display: none;
  }

  .top-wrapper .container .top-wrapper-left h2 {
    text-align: center;
    padding-left: 100px;
    font-size: 20px;
  }

  .top-wrapper .container .top-wrapper-right
  .mail-form-container {
    text-align: center;
  }

  .top-wrapper .container .top-wrapper-right
  .password-form-container {
    text-align: center;
  }


  .mail-form {
    width: 100%;
  }

  .password-form {
    width: 100%;
  }
}